::root {
    --clr-primary-light: hsl(193, 38%, 86%);
    --clr-primary-neon: hsl(150, 100%, 66%);
    --clr-neutral-400: hsl(217, 19%, 38%);
    --clr-neutral-600: hsl(217, 19%, 24%);
    --clr-neutral-900: hsl(218, 23%, 16%);
}

html {
    font-size: 16px;
}

body {
    font-family: Manrope;
    font-size: 1.75rem;
}